<div class="bucket">
  <h2>Your bucket</h2>
  @if (bucket$ | async; as bucket) {
  <div class="products">
    @if(!!bucket.products.length) { @for (product of bucket.products; track
    $index) {
    <div class="product">
      <img
        [src]="'/assets/' + product.product.thumbnail"
        alt="product thumbnail"
      />
      <div class="product-name">{{ product.product.name }}</div>
      <div class="product-quantity">
        <mat-icon>remove_circle_outline</mat-icon>
        <div class="product-count">
          {{ product.count }}
        </div>
        <mat-icon>add_circle_outline</mat-icon>
      </div>
      <div class="product-remover">
        <mat-icon (click)="removeProduct(product)">delete</mat-icon>
      </div>
    </div>
    } } @else {
    <p>Your Shopping Cart is empty</p>
    }
  </div>
  <div class="overall-price">Total: {{ bucket.overallPrice }} zł</div>
  }
</div>
